.header {
  margin-top: 0px !important;
  text-align: center;
  align-items: center;
  color: whitesmoke;
  background-color: #652232;
  height: 70px;
  /* display: flex;
  justify-content: space-evenly; */
}

.title {
  margin-top: 0px !important;
  padding: 20px;
}

.reset-button {
  background-color: #ff2457;
  width: 80px;
  font-size: 16px;
  border-radius: 5px;
  /* float: right; */
}
